@charset "UTF-8";

body {
	font-family: 'Mali', cursive;
	font-size: 18px;
	line-height: 20px;
}

h1 {
	font-size: 52px;
}

h2 {
	text-align: center;
	font-size: 32px;
}

a {
	text-decoration: none;
}

button {
	background-color: green;
	color: white;
	padding: 10px 20px 10px 20px;
	border-radius: 20px;
	border: none;
	cursor: pointer;
}

button:hover {
	background-color:orange;
}

button:active {
  transform: translateY(2px);
}

.flex_horizontal {
	display: flex;
	flex-flow: row wrap;
	align-content: center;
	align-items: center;
	text-align: center;
}

.flex_vertical {
	display: flex;
	flex-flow: row wrap;
	flex-direction: column;
	justify-content: center;
}

.center_and_break_word {
	word-break: break-word;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.container {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto auto;
	grid-template-areas: 
		"main_screen main_screen"
		"main main"
		"footer footer";
}

.main_screen {
	grid-area: main_screen;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto;
	grid-template-areas: 
	"header"
	"main_content";
	background: url(images/path1.png) center center no-repeat fixed;
	background-color: rgb(87, 43, 43);
	background-size: cover;
	color: white;
}

.main_screen a:visited {
	color: white;
}

.navigation a:hover {
	color: green;
}

.header {
	grid-area: header;
	display: grid;
	grid-template-columns: 40% 60%;
	grid-template-rows: auto auto;
	grid-template-areas: 
	"logo navigation"
}

.logo {
	grid-area: logo;
	padding: 5% 0 5% 20%;
	justify-content: left;
	text-transform: uppercase;
	font-size: 26px;
}

.logo > img, span {
	margin: 0 2% 0 2%;
}

.navigation {
	grid-area: navigation;
	justify-content: space-around;
	padding: 5% 0 5% 0;
}

.main_content {
	grid-area: main_content;
	padding: 13% 0 0 0;
	text-align: center;
}

.slider {
	padding: 12% 0 2% 0;
}

.slider > a.dot {
	height: 15px;
	width: 15px;
	margin: 0 4px;
	border-radius: 100%;
	display: inline-block;
	border: 1px solid white;
}

.slider > a.dot:hover {
	background-color: green;
	opacity: 0.7;
}

.slider > a.active {
	background-color: green;
}

.content {
	grid-area: main;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
	grid-template-areas: 
	"education"
	"features"
	"courses"
	"our_teachers"
	"programs"
	"what_client_say"
	"blog"
	"subscribe"
	"contact";
}

.content > div {
	padding: 3% 0 3% 0;
}

.education {
	grid-area: education;
}

.features {
	grid-area: features;
}

.courses {
	grid-area: courses;
}

.our_teachers {
	grid-area: our_teachers;
}

.programs {
	grid-area: programs;
}

.each_program {
	justify-content: space-evenly;
	margin: 0 3% 0 3%;
}

.each_program > div {
	background-color: rgb(80, 194, 80);
	width: 370px;
	height: 370px;
	margin-top: 30px;
}

.each_program h3, h4 {
	color: white;
}

.each_program h4 {
	width: 210px;
}

.first_program {
	background-image: url("images/Rectangle55.png");
}

.second_program {
	background-image: url("images/Rectangle56.png");
}

.third_program {
	background-image: url("images/Rectangle57.png");
}

.fourth_program {
	background-image: url("images/Rectangle58.png");
}

.fifth_program {
	background-image: url("images/Rectangle59.png");
}

.sixth_program {
	background-image: url("images/Rectangle60.png");
}

.what_client_say {
	grid-area: what_client_say;
	background-color: lightblue;
}

.clients {
	justify-content: center;
}

.clients > img {
	margin: 0 2% 0 2%;
}

.what_client_say > p {
	width: 550px;
}

.blog {
	grid-area: blog;
}

.subscribe {
	grid-area: subscribe;
}

.contact {
	grid-area: contact;
}

.footer {
	grid-area: footer;
}

@media only screen and (max-width: 850px) {
    body {
        background-color: white;
		}


}