@charset "UTF-8";
body {
	font-family: 'Courier New', Courier, monospace;
}
div.header {
	background-image: url("E:\Work\CSS\images\Path1.png");
	color: white;
}
a.no_underline {
	text-decoration: none;
	color: white;
}
button.green_button {
	background-color:#fc7830;
	border-radius: 20px;
	border: 1px solid #fc7830;
	padding: 5px 10px 5px 10px;
}
header.links {

}
div.first_screen {
	text-align: center;
	padding: 10px;
}